input {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .left {
        display: none;
    }

    .right {
        width: 80%;
        padding: 20px;
        box-sizing: border-box;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1rem;
    }

    button {
        margin-top: -2rem;
    }
}