<div class="auth-body">
    <div class="container">
        <div class="right">
            <div class="logo" *ngIf="!loading.value">
                <h1>SIGN IN</h1>
            </div>

            <form #signInForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!loading.value">
                <div class="form-group">
                    <input id="phone" name="phone" [(ngModel)]="phoneNumber" #phoneModel="ngModel" required
                        pattern="^(?:0(71|72|75|76|77|78|79|5[0-9]|[6-9][0-9]|[1-4][0-9]|[5-9][1-9]|[0-9]{1,2})\d{7}|(\+94)(71|72|75|76|77|78|79|5[0-9]|[6-9][0-9]|[1-4][0-9]|[5-9][1-9]|[0-9]{1,2})\d{7})$"
                        maxlength="15" placeholder="Phone Number (+94712345678)" type="tel" class="form-input" />

                    <div *ngIf="phoneModel.invalid && phoneModel.touched" class="error">
                        A valid phone number is required
                    </div>
                </div>
                <div class="form-group">
                    <input id="password" name="password" [(ngModel)]="password" #passwordModel="ngModel" required
                        placeholder="Password" type="password" class="form-input" />
                    <div *ngIf="passwordModel.invalid && passwordModel.touched" class="error">
                        Password is required
                    </div>
                </div>
                <p class="error-message">{{errorMessage}}</p>
                <button type="submit" [disabled]="signInForm.invalid" class="submit-button">Sign In</button>
                <app-google-auth (loading)="onGoogleAuthLoading($event)"></app-google-auth>
                <p>Don't have an account? <a routerLink="/signup">Sign up here</a></p>
            </form>
            <app-loading *ngIf="loading.value" />
        </div>
        <div class="left">
            <img src="./image.jpg" alt="" srcset="">
        </div>
    </div>
</div>