.container {
    // max-width: 800px;
    width: calc(100% - 1rem);
    height: 100% !important;
    // margin: 0.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 2rem;
    background-color: var(--background-secondary-color);
    border-radius: 1rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    overflow: auto;
}

h1,
h2 {
    font-family: "Roboto", sans-serif;
    color: #333;
    font-weight: 400;
}

h1 {
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
}

h2 {
    margin-top: 30px;
    font-size: 20px;
    color: #555;
    padding-bottom: 1rem;
}

/* Form Styling */
form {
    display: flex;
    justify-content: space-between;
    //  flex-direction: column;
}

.form-group {
    position: relative;
    margin-bottom: 0.5rem;
    border: none;
}

input[type="text"],
input[type="file"],
input[type="color"] {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    display: block;
    // width: 100%;
    border: none;
    //border: 2px solid #ddd;
    background: var(--background-color);
    outline: none;
    transition: border 0.3s ease;
}

input[type="text"]:focus,
input[type="file"]:focus,
input[type="color"]:focus {
    border-bottom: 2px solid var(--primary-color);
    /* Primary color */
}

label {
    // position: absolute;
    // top: 10px;
    // left: 10px;
    margin-bottom: 1rem;
    font-size: 16px;
    color: #888;
    pointer-events: none;
    transition: all 0.3s ease;
}

input:focus+label,
input:not(:placeholder-shown)+label {
    left: 0;
    font-size: 12px;
    color: var(--primary-color);
    /* Primary color */
}

/* Color Picker Styling */
input[type="color"] {
    width: 100px;
    height: 40px;
    padding: 0;
    // border-radius: 1rem;
    border: none !important;
    overflow: hidden !important;
    outline: none !important;
    cursor: pointer;
}

/* Button Styling */
button[type="submit"] {
    position: absolute;
    bottom: 7%;
    right: 3%;
    font-family: "Roboto", sans-serif;
    padding: 12px 24px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
    align-self: center;

    &:hover {
        opacity: 0.8;
    }
}

.section {
    margin-bottom: 40px;
    width: 45%;
}

.color-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    /* Adjust the gap between grid items */
}

.images {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

/* Responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 28px;
    }
}