@import "../../../../styles.scss";

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: thick;
    scrollbar-color: var(--light-gray) var(--background-color);

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
    }

    .cont {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
        justify-content: flex-start;
        align-items: flex-start;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        -ms-overflow-style: none;

        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-track {
            background-color: transparent;
        }

        ::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 10px;
        }
    }
}

.svgs {
    width: 100%;
    max-width: 300px;
    align-self: center;
    margin: 0 auto;
    padding: 10px;
}

.list-end-item {
    opacity: 0;
    height: 100vh;
}