@import "../../../../styles.scss";

$text-color: var(--text-color);
$hover-color: var(--hover-color);
$primary-color: var(--primary-color);

.sidebar-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    margin-right: 1rem;
    overflow: visible;

    * {
        color: $text-color;
        // margin-left: 10px;
    }

    svg {
        fill: $text-color;
    }

    span {
        font-size: 1rem;
        font-weight: 500;
        margin-left: 1rem;
    }

    &:hover {
        color: $hover-color;

        span {
            color: $primary-color;
            opacity: 0.5;
        }
    }

    &.active {
        border-left-width: 5px;
        border-left-style: solid;
        border-left-color: var(--primary-color);

        span {
            color: $primary-color;
            opacity: 0.9;
        }

        svg {
            fill: $text-color;
        }
    }
}

@media screen and (max-width: 768px) {

    .sidebar-item {

        &.active {
            border-bottom-width: 10px;
            border-bottom-style: solid;
            border-bottom-color: var(--primary-color);
            border-left: none;
        }
    }

    span {
        display: none;
    }
}