.receipt-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border-bottom: 1px solid #dcdcdc;
    margin-top: 0;

    .item-details {
        display: flex;
        flex-direction: column;
        max-width: 65%;

        .item-name {
            font-weight: bold;
            font-size: 18px;
            color: #222;
            margin-bottom: 3px;
        }

        .item-quantity {
            font-size: 14px;
            color: #666;
        }
    }

    .right {
        display: flex;
        align-items: center;

        .remove {
            color: #f44336;
            margin-left: 5px;
            cursor: pointer;
        }
    }

    .item-total {
        font-weight: bold;
        font-size: 18px;
        color: var(--secondary-color);
        text-align: right;
    }

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;

        .item-total {
            margin-top: 8px;
        }
    }
}