<div class="auth-body">
    <div class="container">
        <div class="left">
            <img src="./image (1).jpg" alt="">
        </div>
        <div class="right">
            <div class="logo" *ngIf="!isLoading">
                <h1>
                    SIGN UP
                </h1>
            </div>

            <form (ngSubmit)="onSubmit()" #signupForm="ngForm" *ngIf="!isLoading">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" [(ngModel)]="name" name="name" required #nameInput="ngModel"
                        class="form-control" placeholder="John" />
                    <div *ngIf="nameInput.invalid && nameInput.touched" class="error">
                        First name is required.
                    </div>
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input id="phoneNumber" type="tel" [(ngModel)]="phoneNumber" name="phoneNumber" required
                        #phoneNumberInput="ngModel" class="form-control" placeholder="123-456-7890" />
                    <div *ngIf="phoneNumberInput.invalid && phoneNumberInput.touched" class="error">
                        Phone number is required.
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" [(ngModel)]="password" name="password" required
                        appPasswordStrength (ngModelChange)="updatePasswordRequirements($event)"
                        #passwordInput="ngModel" class="form-control" placeholder="Superman#123" />
                    <div *ngIf="passwordInput.invalid && passwordInput.dirty" class="error">
                        <div *ngIf="passwordInput.errors?.['required']" class="password-requirements">Password is
                            required.</div>
                    </div>

                    <ul class="password-requirements" *ngIf="hasAnyRequirementMet() && passwordInput.dirty">
                        <li [ngClass]="{ 'met': passwordRequirements.length }">
                            {{ passwordRequirements.length ? '✓' : '✗' }} At least 8 characters
                        </li>
                        <li [ngClass]="{ 'met': passwordRequirements.uppercase }">
                            {{ passwordRequirements.uppercase ? '✓' : '✗' }} At least one uppercase letter
                        </li>
                        <li [ngClass]="{ 'met': passwordRequirements.lowercase }">
                            {{ passwordRequirements.lowercase ? '✓' : '✗' }} At least one lowercase letter
                        </li>
                        <li [ngClass]="{ 'met': passwordRequirements.digit }">
                            {{ passwordRequirements.digit ? '✓' : '✗' }} At least one digit
                        </li>
                        <li [ngClass]="{ 'met': passwordRequirements.special }">
                            {{ passwordRequirements.special ? '✓' : '✗' }} At least one special character
                        </li>
                    </ul>
                </div>

                <div *ngIf="errorMessage" class="error password-requirements">{{ errorMessage }}</div>
                <button type="submit" [disabled]="signupForm.invalid || isLoading" class="btn btn-primary">
                    {{ isLoading ? 'Signing Up...' : 'Sign Up' }}
                </button>

            </form>
            <app-loading *ngIf="isLoading"></app-loading>
            <app-google-auth />
            <p class="signin-link">
                Already have an account? <a routerLink="/signin">Sign in here</a>
            </p>
        </div>
    </div>
</div>